
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="findEmp">Search Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register">Register Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="update">Update Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="delete">Delete Employee</a>
    </li>
  </ul>

<router-outlet></router-outlet>

</div>